@model List<ProiectPAW__MVC_.Models.Product>

<head>
    <link rel="stylesheet" href="~/css/Phones.css" />
    <link rel="stylesheet" href="~/css/Internet.css" />
</head>

<div class="plan-container">
    @foreach (var phone in Model)
    {
        <div class="plan">
            <div class="plan-title">@phone.Name</div>
            <div class="plan-type">@phone.Category.Name</div>
            <div class="plan-description">@phone.Description</div>
            <div class="plan-price">@phone.Price</div>
            <img class="plan-image" src="@phone.ImageUrl" alt="Plan Image">
            <form method="post" action="/Cart/AddToCart">
                <input type="hidden" name="productId" value="@phone.ProductId" />
                <div class="plan-buttons-container">
                    <button class="plan-button plan-add-to-cart" type="submit">Add to Cart</button>
                </div>
            </form>
        </div>
    }
</div>
