@model List<ProiectPAW__MVC_.Models.Product>

<head>
    <style>
        .plan-container {
            display: flex;
            flex-wrap: wrap; /* Enable wrapping */
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }

        .plan {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            height: 500px;
            border-radius: 10px;
            background-color: lightcoral;
            color: white;
            border: none;
            box-shadow: 2px 2px 5px #888;
            margin: 10px;
            padding: 20px;
            text-align: center;
        }

            .plan:hover {
                filter: brightness(85%);
            }

        .plan-title {
            font-weight: bold;
            font-size: 20px;
            margin-top: 10px;
        }

        .plan-description {
            font-size: 16px;
            margin-top: 5px;
        }

        .plan-price {
            font-size: 16px;
            margin-top: 5px;
            font-weight: bold;
        }

        .plan-image {
            width: 80%;
            max-height: 150px;
            object-fit: contain;
            margin-top: 10px;
            border-radius: 5%;
        }

        .plan-button {
            margin-top: 10px;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
        }

        .plan-add-to-cart {
            background-color: #5cb85c;
        }

        .plan-row {
            display: flex;
            justify-content: center;
            margin-bottom: 20px; /* Adjust the spacing between rows */
        }
    </style>
</head>

<div class="plan-container">
    @foreach (var phone in Model)
    {
        <div class="plan">
            <div class="plan-title">@phone.Name</div>
            <div class="plan-description">@phone.Description</div>
            <div class="plan-price">@phone.Price</div>
            <img class="plan-image" src="@phone.ImageUrl" alt="Plan Image">
            <form method="post" action="/Cart/AddToCart">
                <input type="hidden" name="productId" value="@phone.ProductId" />
                <div class="plan-buttons-container">
                    <button class="plan-button plan-add-to-cart" type="submit">Add to Cart</button>
                </div>
            </form>
        </div>
    }
</div>
